/* Hide the dropdown indicator in OSINT and Cryptography sections */
.navbar .nav-item.dropdown > a::after {
  display: none;
}

/* Custom CSS for the dropdown menu */
.dropdown-menu {
  background-color: #f8f9fa; /* Background color */
  border: 1px solid #d6d6d6; /* Border color */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Shadow */
}

/* Custom CSS for dropdown items */
.dropdown-item {
  color: #333; /* Text color */
  transition: background-color 0.2s; /* Smooth background color transition */
}

/* Hover effect for dropdown items */
.dropdown-item:hover {
  background-color: #007bff; /* Highlight background color on hover */
  color: #fff; /* Text color on hover */
}
